table{
  font-size:11px;
}
.t_cell{
  height:11px;
  width:8px;
  border:1px solid #cccccc;
  color:#ff4e18;
  text-align:center;
  vertical-align:middle;
}
.dining{background-color:#fff8d8;}
.working, .going_on{background-color:#fbe360;}
.closed, .not_going_on{background-color:#ffffff;}
.worktime{
  padding-left:16px;
  width:192px;
  overflow:hidden;
}
.dinnertime{padding-left:16px;width:192px;overflow:hidden;}
.row_date{width:115px;}
.dw{text-align:right;width:20px;padding-right:4px;}
/*.humanized_timeline{font-size:10px;}*/
#timetable th{text-align:center;font-weight:bold;border-bottom:1px solid #cccccc;}